<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486736514458-gvc78dco8tq1pngmmo4poscg8hd1vl2i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486736514458-gvc78dco8tq1pngmmo4poscg8hd1vl2i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486736514458-8r33o79t2hvt65r4edv74bdvaskukm2h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvsWBU0DyAzdt7VhWX8l4joR2o7tx4rOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>486736514458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.sweeper.app</string>
	<key>PROJECT_ID</key>
	<string>sweeper-repo</string>
	<key>STORAGE_BUCKET</key>
	<string>sweeper-repo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486736514458:ios:6767f239739b2c2d0b7e23</string>
</dict>
</plist>